@use 'globals' as *;

body {
  background-color: var(--background-color);
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

header {
  margin: 0 0 1.0rem 0;
  background-color: var(--background-color-header);
}
header h3 {
  margin:0.5rem;
}

.site-title {
  margin: 0.5rem 0rem 0.5rem 2.0rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--site-title-color);
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.landingpage-header {
  // min-height: 200px;
  height: 70vh;
  display: flex;
  
  color: white;
  align-items: center;
  background-image: url(/banner.jpg);
  background-repeat: no-repeat;
}

.header-title {
margin-left: 1.0rem;
padding: 0.75rem 1.5rem;
background-color: rgba(198, 227, 253, 0.5);
}

.site-content {
  flex: 1;
}

.site-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--footer-background);
}

.checkboxForm {
  margin: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
}

.overview-site {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
}

button {
  margin: 1.0rem;
  padding: 0.5rem;
  background-color: var(--celadon-blue);
}


