@use 'globals' as *;

a {
  color: var(--link-color);
  &:hover,
  &:focus {
    color: var(--active-link-color);
  }
}

.nav-link {
  padding: 1.0rem;
  text-decoration: none;
}

.navigation {
  margin: 1.0rem;
  text-transform: uppercase;
  font-size: larger;
  letter-spacing: 0.05rem;
  font-family: var(--font-hind);
}

.home-link {
  margin: 1.0rem;
  padding-top: 1.0rem;
  font-size: 2.0rem;
  color: rblueed;
}

// .startlink {
//   padding: 1.0rem;
//   border: 1px solid black;
//   border-radius: 0.5rem;
//   text-decoration: none;
//   align-items: center;
// }

.startlink {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #69a1bf 5%, #216ea5 80%);
	background-color:#007dc1;
	border-radius:0.5rem;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.5rem;
	padding:0.75rem 2rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #204b7f;
}
.startlink:hover {
	background:linear-gradient(to bottom, #1265a0 5%, #49b3ec 80%);
	background-color:#0061a7;
  color: #fff;
}
.startlink:active {
	position:relative;
	top:1px;
  color: #043047;
}

// $mobile-menu-max: rem(500);

// $mobile-menu: 'width <= #{$mobile-menu-max}';
// $desktop-menu: 'width > #{$mobile-menu-max}'; */
