@use 'globals' as *;

a {
  color: var(--link-color);
  &:hover,
  &:focus {
    color: var(--active-link-color);
  }
}

.nav-link {
  padding: 1.0rem;
  text-decoration: none;
}


.navigation {
  margin: 1.0rem;
  text-transform: uppercase;
  font-size: larger;
  letter-spacing: 0.05rem;
  font-family: var(--font-hind);
}

.home-link {
  margin: 1.0rem;
  padding-top: 1.0rem;
  font-size: 2.0rem;
  color: rblueed;
}

.startlink {
	box-shadow:inset 0px 1px 0px 0px #a5b2c0;
	background:linear-gradient(to bottom, #69a1bf 5%, #3c6c9b 80%);
	background-color:#006ac1;
	border-radius:0.5rem;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1.5rem;
	padding:0.75rem 2rem;
  margin: 0.5rem 2.0rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #204b7f;
}
.startlink:hover {
	background:linear-gradient(to bottom, #487b97 5%, #315e8b 80%);
	background-color:#024983;
  color: #fff;
}
.startlink:active {
  background:linear-gradient(to bottom, #38831e 5%, #7dc665 90%);
	position:relative;
	top:1px;
  color: #bedcb4;
}


// $mobile-menu-max: rem(500);

// $mobile-menu: 'width <= #{$mobile-menu-max}';
// $desktop-menu: 'width > #{$mobile-menu-max}'; */
