.ckeckbox-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 1.0rem;
  font-family: var(--font-hind);
}

.radio-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.0rem;
  margin: 1.0rem;
  font-family: var(--font-hind);

}

.panel1 .panel2 {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 1.5rem 2.0rem;
}

.radio {
  margin-right: 0.2em;
  height: 0.8em;
  width: 0.8em;
}

.checkbox {
  margin-right: 0.2em;
  height: 0.75em;
  width: 0.75em;
}

.datePicker-wrapper {
  gap: 1rem;
  display: inline-flex;
  flex-direction: row;
  padding: 0.25rem 1.0rem;
  margin-right: 5.0rem;;
}

// .react-datepicker-wrapper,
// .react-datepicker__input-container,
// .react-datepicker__input-container input {
//     display: flex;
//     width: 100%;
// }

