.ckeckbox-form {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin: 1.5rem;
}

.radio-form {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin: 1.5rem;
}

.ckeckbox-form-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.0rem;
  margin: 1.5rem;
}